In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('placement.csv')
df.head()

   cgpa  package
0  6.89     3.26
1  5.12     1.98
2  7.82     3.25
3  7.42     3.67
4  6.94     3.57

In [3]:
df.shape

(200, 2)

In [4]:
df.sample(5)

     cgpa  package
8    6.09     2.31
197  7.21     3.24
47   5.84     3.26
183  7.28     2.72
32   6.96     3.08

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cgpa     200 non-null    float64
 1   package  200 non-null    float64
dtypes: float64(2)
memory usage: 3.3 KB

In [6]:
df.describe()

             cgpa     package
count  200.000000  200.000000
mean     6.990500    2.996050
std      1.069409    0.691644
min      4.260000    1.370000
25%      6.190000    2.487500
50%      6.965000    2.995000
75%      7.737500    3.492500
max      9.580000    4.620000

In [8]:
df.duplicated().sum()

0

In [11]:
df.corr()['package']

cgpa       0.880692
package    1.000000
Name: package, dtype: float64